blist
click
colorama
filelock
flask
flatbuffers
funcsigs
jsonschema
mock
numpy
opencv-python-headless
pandas
pyarrow
pygments
pyyaml
recommonmark
redis
setproctitle
sphinx
sphinx-click
sphinx-copybutton
sphinx-gallery
sphinx-jsonschema
sphinx_rtd_theme
tabulate
uvicorn
werkzeug
pillow>=8.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
